<template>
    <base-header> Metadata </base-header>

    <base-content class="with-header">
        <div class="slds-grid slds-gutters_x-small slds-wrap slds-m-horizontal_small">
            <div class="slds-col slds-size_1-of-1 slds-m-vertical_medium">
                <lightning-card title="Metadata"></lightning-card>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-m-vertical_medium">
                <component-spt-platform-metadata></component-spt-platform-metadata>
            </div>
            
        </div>
    </base-content>
</template>
